@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
body{
   margin:0;
   padding: 0;
   font-family: Manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: hsl(218, 23%, 16%);

}
.container{
   margin: 15% auto 0 auto;
   display: flex;
   text-align: center;
   justify-content: center;
   flex-direction: column;
   width: 30%;
   padding: 3em 3em 3em 3em;
   background-color: hsl(217, 19%, 24%);
   border-radius: 10px;
   box-sizing: border-box;

}

.advice{
   font-size: 1em;
   color: hsl(150, 100%, 66%);
}
#id{
   font-size: 28px;
   color: hsl(150, 100%, 66%);
}
#quote{
   color: hsl(193, 38%, 86%);
   font-size: 1.85rem;
}
.dice-container{
   background-color: hsl(150, 100%, 66%);
   width: 3em;
   height: 3em;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 245%;
   
}
.separator{
   height: 1.2em;
}
.dice{
   width: 1.5rem;
   height: 1.5rem;
}
fieldset{
   border-style: none;
   height: 1em;
   margin: auto;
   padding: 0;
   box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.dice-container:hover{
   scale: 1.2;
   box-shadow: 0 0 1em 0.1em hsl(150, 100%, 66%);
   animation: ease;
   transition: 0.2s;
}
.dice-container:focus{
   scale: 1.2;
   box-shadow: 0 0 1em 0.1em hsl(150, 100%, 66%);
   animation: ease;
   transition: 0.2s;
}
.dice-container:active{
   scale: 1.2;
   box-shadow: 0 0 1em 0.1em hsl(150, 100%, 66%);
   animation: ease;
   transition: 0.5s;
}


.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width:675px) {
   .container{
      width: 85%;
      margin-top: 30%;
      padding: 3em 1em 3em 1em;
   }
   #id{
      font-size: 22px;
   }
}
